

<!-- second section - Recipes -->

<div id="recipes" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img src="images/logo.png" alt="" />
      </div>
      <div class="col-sm-6 text-center">
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem cras amet.</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum metus et ligula venenatis, at rhoncus nisi molestie. Pellentesque porttitor elit suscipit massa laoreet metus.</p>
      </div>
    </div>
  </div>
</div>

<a href="#/add-recipe">Add a New recipe</a>

<!-- /second section -->
<!--
<input ng-model="num" ng-change="setNum()"/>
{{num}}
<ul>
    <li ng-repeat="recipe in recipes"><a href="#/recipes/{{ recipe.id }}">{{ recipe.name }}</a>
        <img src="{{ recipe.photo }}" width="500">
        <ol>
            <li ng-repeat="ingredient in recipe.ingredients">{{ ingredient.name }}</li>
        </ol>
        <ol>
            <li ng-repeat="review in recipe.reviews">{{ review.reviews }}</li>
        </ol>
    </li>
</ul>




<div class="col-sm-6 col-md-4" ng-repeat="recipe in recipes">
<div class="recipe-card">
<h2>{{recipe.name}}</h2>
<img src="{{recipe.photo}}">

<p>{{recipe.description}}</p>
</div>
</div>
<div class="col-sm-6 col-md-4" ng-repeat="recipe in recipes">
    <div class="recipe-card">
        <h2>{{recipe.name}}</h2>
        <img src="{{recipe.photo}}">

        <p>{{recipe.description}}</p>
    </div>
</div>